<!DOCTYPE html>
<html>
<head>
  <title>DeviceManagement</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="back-link">
	<a href="/" class="btn">Back To Home Page</a>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
